.App {
  text-align: center;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
}

.single-element {
  height: 250px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}
